:root {
  --font-primary: sofia-pro, sans-serif;
  --font-secondary: oswald, sans-serif;
  --color-navy: #2C2C51;
  --color-blue: #55D8D1;
  --color-yellow: #FFD833;
  --color-beige: #F9F1E4;
  --color-gray: #6E6E6E;
  --color-light-gray: #FAFAFA;
  --pbl-color: #64d0fa;
  --quilt-color: #FC6159;
  --parkinsons-color: #3E4D59;
  --canimmunize-color: #4a90e2;
  --beerexpo-color: #f3ab1d;
}

html {
  font-family: var(--font-primary);
}

/* Spacing */

.my-max-length {
  margin-left: auto;
  margin-right: auto;
  max-width: 28em;
  width: 100%;
}

.my-wrapper {
  max-width: 30em;
  margin: 0 auto;
}

.my-padding {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.my-small-padding {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.my-padding-bottom {
  padding-bottom: 5rem;
}

/* Typography */

.base-sans {
  font-family: var(--font-primary);
}

.serif {
  font-family: var(--font-secondary);
}

.regular {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.black {
  font-weight: 900;
}

.no-decoration {
  text-decoration: none;
}

/* Colours */

.white {
  color: #ffffff;
}

.navy {
  color: var(--color-navy);
}

.blue {
  color: var(--color-blue);
}

.beige {
  color: var(--color-beige);
}

.gray {
  color: var(--color-gray);
}

.quilt-color {
  color: var(--quilt-color);
}

/* Backgrounds */

.section-gray {
  background-color: #FAFAFA;
}

/* Figures */

figure {
  margin-bottom: 0;
}

figcaption {
  font-style: italic;
  color: #808080;
}

.navigation {
  padding: 1.3rem
}

nav a {
  text-decoration: none;
  color: var(--color-navy);
  transition: color .2s ease;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  padding-bottom: .3em;
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-navy);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav a:hover {
  color: var(--color-dark-blue);
}

.button {
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-family: var(--font-primary);
  text-decoration: none;
  color: #fff;
  padding: .4em 2.5em;
}

.btn-blue {
  background-color: var(--color-dark-blue);
}

.main-section {
  height: 100vh;
}

.hero-banner {
  height: 100vh;
}

.pattern-box {
  background-image: url('{{site.baseurl}}/images/pattern.jpg');
  background-size: cover;
  height: 100vh;
}

.banner-links {
  bottom: 4rem;
}

.banner-sm {
  font-family: var(--font-secondary);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .3s ease;
  position: relative;
  padding-bottom: .3em;
  margin: 0 1rem;
}

.first-banner-sm {
  margin: 0 1rem 0 0;
}

.banner-sm:hover {
  color: var(--color-blue);
}

.project-section {
  height: 80vh;
}

.card {
  height: 500px;
}

.card-text {
  width: 100%;
}

.enter-here-btn {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-dark-blue);
  position: relative;
  padding-bottom: .3em;
}

.enter-here-btn:before, .banner-sm:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-navy);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.enter-here-btn:hover:before,
.banner-sm:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.enter-here-btn:hover .btn-underline,
.banner-sm:hover .btn-underline {
  width: 60px;
}

.enter-here-btn:hover{
  color: var(--color-blue);
}

.social-media-links {
  background-color: var(--color-light-gray);
}

.social-media-link {
  text-decoration: none;
  font-family: var(--font-primary);
  color: #ACACAC;
  transition: all .15s ease-in-out;
}

.social-media-link:hover {
  color: var(--color-dark-blue);
}

.copyright {
  font-family: var(--font-primary);
  color: #ACACAC;
  font-weight: 300;
}

/*--------Project Cards----------*/

.project-card {
  width: 100%;
  transition: all .2s ease-in-out;
  margin-bottom: 1em;
}

.project-card a {
  text-decoration: none;
}

.arrow-icon {
  fill: #fff;
  transition: all .2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.015);
}

.project-card:hover .arrow-icon {
  transform: translateX(20%);
}

/*---------- Case Study Template -----------*/

.case-study-header {
  height: 90vh;
}

.banner-text {
  line-height: 1.5;
  font-size: .9rem;
}

.project-type {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.detail-title {
  letter-spacing: 2px;
}

.details-list {
  text-align: center;
}

.gray-background {
  background-color: var(--color-light-gray);
}

.parkinsons-background {
  background-color: var(--parkinsons-color);
}

.parkinsons-green-background {
  background-color: #9eb7b1;
}

.next-project-section {
  width: 100%;
}

.next-project-text {
  transition: all .6s ease-in-out;
}

.next-project-pbl,
.next-project-parkinsons {
  transition: all .6s ease-in-out;
}

.next-project-pbl:hover {
  background-color: var(--quilt-color);
}

.next-project-parkinsons:hover {
  background-color: var(--canimmunize-color);
}

.next-project-section:hover .next-project-text {
  transform: scale(1.1);
}

/*---------- Project Big Life -----------*/
.pbl-color {
  color: var(--color-blue);
}

.pbl-background {
  background-color: var(--color-blue);
}

.project-intro {
  font-weight: 300;
}

.blue-drop-shadow {
  filter: drop-shadow(5px 5px 30px #3A8BAA);
}

.gray-drop-shadow {
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, .18));
}

.slide-in {
  animation-name: slideInFromBottom;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
}

.pbl-bubbles {
  background-image: url("{{site.baseurl}}/images/bubbles.png"), url("{{site.baseurl}}/images/slides.png");
  background-size: cover, cover;
  background-position: center;
}

.pbl-hover {
  transition: all .3s ease;
}

.pbl-hover:hover {
  color: var(--color-blue);
  transform: scale(1.03);
}

/*---------- QUILT -----------*/

.quilt-header-banner {
  background-image: url('{{site.baseurl}}/images/quilt/quilt-banner.jpg');
  background-size: cover;
  background-position: center center;
}

.quilt-background {
  background-color: var(--quilt-color);
}

.quilt-banner-color {
  background-color: var(--quilt-color);
}

.black-background {
  background-color: #333132;
}

.w-60 {
  width: 60%;
  margin: 0 auto;
}

.next-project-quilt {
  background-color: var(--quilt-color);
  transition: all .6s ease-in-out;
}

.next-project-quilt:hover {
  background-color: var(--parkinsons-color);
}

/*---------- Parkinsons Network -----------*/

.parkinsons-header-banner {
  background-image: url('{{site.baseurl}}/images/parkinsons-banner.jpg');
  background-size: cover;
  background-position: center center;
}

.parkinsons-card {
  background-color: var(--color-yellow);
}

.parkinsons-color {
  color: var(--parkinsons-color);
}

.parkinsons-background {
  background-color: var(--parkinsons-color);
}
/*---------- CANImmunize -----------*/

.canimmunize-color {
  color: var(--canimmunize-color);
}

.canimmunize-background {
  background-color: var(--canimmunize-color);
}

.next-project-canimmunize {
  background-color: var(--canimmunize-color);
  transition: all .6s ease-in-out;
}

.next-project-canimmunize:hover {
  background-color: var(--pbl-color);
}

.canimmunize-card {
  background-color: var(--color-navy);
}

/* Beer Expo */
.beerexpo-color {
  color: var(--beerexpo-color);
}

.beerexpo-background {
  background-color: var(--beerexpo-color);
}

/* .next-project-canimmunize {
  background-color: var(--canimmunize-color);
  transition: all .6s ease-in-out;
}

.next-project-canimmunize:hover {
  background-color: var(--pbl-color);
} */

.beerexpo-card {
  background-image: url('{{site.baseurl}}/images/beer-expo/beer-expo-card.jpg');
  background-size: cover;
  background-position: center center;
}
/*Play */

.img-border {
  border: 1px solid #e2e2e2;
}

/* Animations */

@keyframes slideInFromBottom {

  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (min-width:41em ) {

  .email {
    text-align: left;
  }

  .credit {
    text-align: center;
  }

}

@media only screen and (min-width:43em ) {

  .details-list {
    text-align: left;
  }

  .details-list li {
    margin-bottom: 0;
    display: inline-block;
    text-align: left;
  }

  .quilt-branding {
    max-width: 75%;
    margin: 0 auto;
  }
}
