:root {
    --font-primary: "Source Sans Pro";
    --font-secondary: "Noto Serif";
    --color-dark-gray: #707070;
    --color-dark-blue: #383841;
}

h1,
h2,
h3 {
    font-family: var(--font-primary);
}

.button {
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-family: var(--font-primary);
  text-decoration: none;
  color: #fff;
  padding: .4em 2.5em;
}

.btn-blue {
  background-color: var(--color-dark-blue);
}

.hero-banner {
    background-image: url("https://via.placeholder.com/1000x800");
    height: 95vh;
    background-size: cover;
    background-position: center;
}

.my-name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*.arrow {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 300px;
  background-color: white;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}*/

.work-section {
    padding: 6em 0;
}

.project-card-container {
  text-decoration: none;
  transition: all .35s ease-in-out;
}

.project-card-container:hover {
  transform: scale(1.015);
  cursor: pointer;
}

.project-card-container:hover .project-card-button {
  background-color: #277CD1;
}

.project-card {
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .16);
}

.project-card h2 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .16);
}

.project-card-pbl {
  background-color: #48A3FF;
}

.project-card-button {
  font-family: var(--font-primary);
  color: #fff;
  background-color: #98CBFF;
  transition: all .35s ease-in-out;
}

.card-text {
  font-family: var(--font-primary);
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .16);
}

.more {
  background-color: #F4F5F7;
}

/* Project 1 Case Study */

.project-header {
    background-image: url("https://via.placeholder.com/1000x800");
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.project-title {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: var(--font-primray);
}

.intro-text {
    font-family: var(--font-primary);
    padding: 6em 0;
    margin-bottom: 0;
    color: var(--color-dark-gray);
}

.cs-text {
    font-family: var(--font-secondary);
    color: var(--color-dark-gray);
    padding: 6em 0;
    margin-bottom: 0;
}
