:root {
  --font-primary: niveau-grotesk, sans-serif;
  --font-secondary: Lora, serif;
  --color-light-gray: #F5F4F2;
  --color-dark-blue: #2A374D;
  --color-blue: #24D1C4;
  --color-yellow: #FAB00A;
  --color-pink: #ED5270;
  --color-purple: #3E4E72;
}

html {
  font-family: var(--font-primary);
}

.base-sans {
  font-family: var(--font-primary);
}

.serif {
  font-family: var(--font-secondary);
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

figure {
  margin-bottom: 0;
}

figcaption {
  font-style: italic;
  color: #808080;
}

.pbl-color {
  color: var(--color-blue);
}

.quilt-color {
  color: var(--color-purple);
}

.parkinsons-color {
  color: var(--color-yellow);
}

.canimm-color {
  color: var(--color-pink);
}

.navigation {
  padding: 1.3rem
}

nav a, .logo {
  text-decoration: none;
  color: var(--color-dark-blue);
  font-weight: 500;
  transition: color .2s ease;
}

.logo:hover {
  color: var(--color-blue);
}

nav a {
  position: relative;
  padding-bottom: .3em;
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav a:hover {
  color: var(--color-blue);
}

.button {
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-family: var(--font-primary);
  text-decoration: none;
  color: #fff;
  padding: .4em 2.5em;
}

.btn-blue {
  background-color: var(--color-dark-blue);
}

.hero-banner {
  background: url("../images/banner.png");
  height: 450px;
  background-color: #F5F4F2;
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.heading-text {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-dark-blue);
  width: 100%;
  line-height: 1;
}

.about-section {
    padding: 8em 0;
}

.intro-text {
  color: var(--color-dark-blue);
  font-weight: 300;
}

.work-section h2, .about-section h2 {
  color: var(--color-dark-blue);
}

.work-section h3 {
  font-weight: 400;
  max-width: 25em;
}

.front-cards a {
  text-decoration: none;
}

.front-cards h3, .front-cards p {
  color: #fff;
}

.front-cards h3, .read-btn {
  font-weight: 500;
}

.front-cards p:first-of-type {
  font-weight: 300;
}

.card {
  height: 350px;
}

.width-80 {
  width: 80%;
}

.pbl-card {
  background: url("../images/pbl-banner.png");
  background-color: var(--color-blue);
  transition: background-color .5s ease;
}

.quilt-card {
  background: url("../images/quilt-banner.png");
  background-color: var(--color-purple);
  transition: background-color .5s ease;
}

.parkinsons-card {
  background: url("../images/parkinsons-banner.png");
  background-color: var(--color-yellow);
  transition: background-color .5s ease;
}

.canimmunize-card {
  background: url("../images/canimmunize-banner.png");
  background-color: var(--color-pink);
  transition: background-color .5s ease;
}

.all-cards {
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.pbl-card:hover {
  background-color: #19B4A8;
}

.quilt-card {
  background-color: var(--color-purple);
  transition: background-color .5s ease;
}

.quilt-card:hover {
  background-color: #213050;
}

.parkinsons-card {
  background-color: var(--color-yellow);
  transition: background-color .5s ease;
}

.parkinsons-card:hover {
  background-color: #E09D06;
}

.canimm-card {
  background-color: var(--color-pink);
  transition: background-color .5s ease;
}

.bruyere-card:hover {
  background-color: #D53554;
}

.section-more {
  background-color: #F4F5F7;
  padding: 6em 0;
}

.more-header {
  font-weight: 400;
}

.more-text {
  font-family: var(--font-primary);
  color: var(--color-dark-blue);
}

.enter-here-btn {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-dark-blue);
  position: relative;
  padding-bottom: .3em;
}

.enter-here-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-pink);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.enter-here-btn:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.enter-here-btn:hover .btn-underline {
  width: 60px;
}

.enter-here-btn:hover{
  color: var(--color-blue);
}

.social-media-links {
  background-color: var(--color-light-gray);
}

.social-media-link {
  text-decoration: none;
  font-family: var(--font-primary);
  color: #ACACAC;
  transition: all .15s ease-in-out;
}

.social-media-link:hover {
  color: var(--color-dark-blue);
}

.copyright {
  font-family: var(--font-primary);
  color: #ACACAC;
  font-weight: 300;
}

/* Project 1 Case Study */


.pbl-header-banner {
  background: url("../images/pbl-banner.png");
}

.quilt-header-banner {
  background: url("../images/quilt-banner.png");
}

.parkinsons-header-banner {
  background: url("../images/parkinsons-banner.png");
}

.canimmunize-header-banner {
  background: url("../images/canimmunize-banner.png");
}

.project-header {
  height: 60vh;
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.project-title {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: var(--font-primray);
  color: #fff;
}

.project-side-title {
  font-weight: 500;
  color: var(--color-dark-blue);
  border-bottom: 1px solid #C6C6C6;
  line-height: 1.1;
}

.project-details {
  font-weight: 300;
}

.project-description {
  font-family: var(--font-primary);
  color: #434343;
  line-height: 1.4;
  font-weight: 300;
}

.pbl-website {
  text-decoration: none;
  color: var(--color-dark-blue);
  font-weight: 500;
  transition: color .2s ease;
}

.pbl-website:hover {
  color: var(--color-blue);
}

.case-study-header {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.cs-content p {
  color: #39475F;
  font-weight: 300;
  line-height: 1.4rem;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.cs-content h3, .cs-content h4 {
  font-weight: 300;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.cs-content h5 {
  color: var(--color-dark-blue);
  font-weight: 500;
}

.park-bullet {
  width: 10%;
}

.park-text {
  width: 75%;
}

.cs-image {
  padding: 3em 4em;
  margin: 2em 0;
}

.details-link {
  color: var(--color-dark-blue);
}

.pbl-link {
  color: var(--color-dark-blue);
  font-weight: 500;
  transition: all .3s ease;
}

.pbl-link:hover {
  color: var(--color-blue);
}

.canimm-link {
  transition: all .3s ease;
}

.canimm-link:hover {
  color: var(--color-pink);
}
/*Parkinsons Network Case Study*/

.parkinsons-header {
  background-color: var(--color-yellow);
}

.next-project-btn, .previous-project-btn {
  text-decoration: none;
}

.previous-project, .next-project {
  opacity: 0;
  color: #fff;
  transition: opacity .4s ease;
}

.previous-project-btn:hover .previous-project {
  opacity: 1;
  display: inline-block;
}

.next-arrow {
  transform: rotate(180deg);
}

.arrows {
  fill: var(--color-light-gray);
}

.next-project-btn:hover .next-project {
  opacity: 1;
  display: inline-block;
}

/* See More */

.see-more h4, .see-more p {
  color: #fff;
}

.see-more-btn {
  color: #fff;
  border: 1px solid #fff;
  padding: .75em 2em;
  text-decoration: none;
  border-radius: 40px;
  transition: all .3s ease;
}

.see-more-btn:hover {
  background-color: #fff;
  color: var(--color-dark-blue);
}

/*Project Big Life*/
.pbl-header {
  background-color: var(--color-blue);
}

/*QUILT*/
.quilt-header {
  background-color: var(--color-purple);
}

/*CANImmunize*/
.canimm-header {
  background-color: var(--color-pink);
}

.case-study-section a {
  color: var(--color-purple);
  font-weight: 500;
}

/*Play*/
.play-header {
  background-color: #26BF81;
}

.img-border {
  border: 1px solid #e2e2e2;
}

@media only screen and (min-width:32em ) {

  .heading-text {
    top: 20%;
  }
}

@media only screen and (min-width:38em ) {

  .cs-details {
    border-right: 1px solid #e2e2e2;
    text-align: right;
  }
}

@media only screen and (min-width:41em ) {

  .email {
    text-align: left;
  }

  .credit {
    text-align: center;
  }

}

@media only screen and (min-width:60em ) {

  .no-space {
    padding-top: 6em;
  }

  .hero-banner {
    background: url("../images/banner.png");
    height: 80vh;
    background-color: #F5F4F2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .project-header {
    height: 60vh;
    background-size: contain;
  }

}
