---
layout: caseStudy
title: Mélany Pelletier-Vaillant · Canadian Geographic 10000 Changes
meta: Creating illustrations to help raise awareness on plastic.
---

{% assign data=site.data.projects[3] %}
{% include main-navigation.html data=data %}

{% assign data=site.data.projects[3] %}
{% include case-study-header.html data=data %}

<section>
  <div class="grid wrapper my-padding gutter-2 slide-element">
    <div class="unit s-1  m-2-3 l-2-3 pad-b-2">
      <div class="my-max-length">
        <p class="project-intro-heading giga navy">Canadian Geographic approached Simple Story to create a series of illustrations that were to be used in infographics and animated videos.</p>
        <p class="project-intro push-0 gray third milli">The series covers 7 different topics about plastics, all which include one infographic to be printed in the publication, as well as an animated video. These materials were developed for students to learn about plastic use through branded exercises, infographics and videos.</p>
      </div>
    </div>
    <div class="unit s-1 m-1-3 l-1-3 project-details">
      <p class="push-0 detail-title micro">AGENCY</p>
      <p class="navy">Simple Story</p>
      <p class="push-0 detail-title micro">CLIENT</p>
      <p class="navy">{{data.projectClient}}</p>
      <p class="push-0 detail-title micro">WEBSITE</p>
      <a class="navy cangeo-hover push ib no-decoration" href="{{data.projectUrl}}">{{data.projectWebsite}}</a>
      <p class="push-0 detail-title micro">DATE</p>
      <p class="navy">{{data.projectDate}}</p>
    </div>
  </div>
</section>

<section class="section-gray">
  <div class="wrapper my-padding slide-element gutter">
  <div class="my-max-length my-padding-bottom">
    <h4 class="navy push-1-2 regular tera">Styleframes</h4>
    <p class="gray third milli push-0">We developed and presented 3 different styleframes to the client. From here, we established a style that would be consistently used across all materials moving forward.</p>
  </div>
  <div class="grid grid-middle">
    <div class="unit xs-1 s-1 m-1 l-1-3 island-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-option-1.jpg" alt="">
      <figcaption class="micro third">We felt this style it was friendly, fun and versatile.</figcaption>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-3 island-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-option-2.jpg" alt="">
      <figcaption class="micro third">Here was a more modern, clean-looking style.</figcaption>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-3 island-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-option-3.jpg" alt="">
      <figcaption class="micro third">Also modern, with different colour options.</figcaption>
    </div>
  </div>
  </div>
</section>

<section class="my-padding cangeo-dark-background">
  <div class="wrapper slide-element grid grid-middle">
    <div class="unit s-1 m-1-2 l-1-2 my-wrapper gutter-2">
      <h4 class="white tera regular push-1-2">Learning Package 1:<br>7 Types of Plastic</h4>
      <p class="white third milli">Ever wondered what those numbers on plastic products mean and if they are recyclable? The first package explains just this! I had the opportunity to design the illustrations for the publication and the animated video.</p>
    </div>
    <div class="island gutter-2 unit s-1 m-1-2 l-1-2">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/bin-with-plastics.png" alt="">
    </div>
  </div>
</section>

<section class="section-gray">
  <div class="slide-element">
  <div class="my-max-length my-padding gutter-2">
    <h4 class="navy push-1-2 semibold">Publication</h4>
    <p class="gray third milli push-0">The September/October 2019 issue of Canadian Geographic includes the illustrations I created at Simple Story. It was so exciting getting the opportunity to work on this project and physically hold it in my hands! Check out the video created based on this infographic <a class="no-decoration cangeo-color cangeo-hover ib" href="https://www.youtube.com/watch?v=8LM-degerdo&feature=emb_logo">here!</a></p>
  </div>
  <div class="">
    <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-magazine-1.jpg" alt="">
  </div>
  <div class="grid grid-middle gutter-2 wrapper my-padding ">
    <div class="unit xs-1 s-1 m-1 l-1-2 island-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-spread-1.jpg" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1 l-1-2 island-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-spread-2.jpg" alt="">
    </div>
  </div>
  </div>
</section>

<section class="my-padding cangeo-2-background">
  <div class="wrapper slide-element grid grid-middle">
    <div class="unit s-1 m-1-2 l-1-2 my-wrapper gutter-2">
      <h4 class="white tera regular push-1-2">Learning Package 2:<br>Hidden Plastics</h4>
      <p class="white third milli">Find out where plastic is hiding in every day products you are probably using!</p>
    </div>
    <div class="island gutter-2 unit s-1 m-1-2 l-1-2">
      <img class="img-flex gray-drop-shadow" src="{{site.baseurl}}/images/cangeo/hidden-plastics.png" alt="">
    </div>
  </div>
</section>

<section class="section-gray">
  <div class="slide-element">
  <div class="my-max-length my-padding gutter-2">
    <h4 class="navy push-1-2 semibold">Publication</h4>
    <p class="gray third milli push-0">The November/December 2019 issue of Canadian Geographic includes the infographic created based on the illustrations.Check out the video created based on this infographic <a class="no-decoration cangeo-color cangeo-hover ib" href="https://www.youtube.com/watch?v=u513UvBKnlU&feature=emb_title">here!</a></p>
  </div>
  <div class="">
    <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-magazine-2.jpg" alt="">
  </div>
  <div class="grid grid-middle gutter-2 wrapper my-padding ">
    <div class="unit xs-1 s-1 m-1 l-1-2 island-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-spread-3.jpg" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1 l-1-2 island-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/cangeo/cangeo-spread-5.jpg" alt="">
    </div>
  </div>
  </div>
</section>

<section>
  <div class="my-max-length my-padding gutter-2">
    <h4 class="navy push-1-2 semibold">Coming Soon</h4>
    <p class="gray push third milli">This is an ongoing project. I will make sure to update this page as new packages are released!</p>
    <p class="gray push-0 third milli"> Visit <a class="no-decoration cangeo-hover ib" href="https://10000changes.ca/en/education/">www.10000changes.ca</a> to watch the videos and learn more about how you can make a change to reduce your plastic footprint.</p>
  </div>
</section>

<section>
  <a class="next-project-section no-decoration cangeo-background next-project-cangeo ib" href="{{site.baseurl}}{{data.nextUrl}}">
  <div class="next-project-text pad-t-2 pad-b-2 text-center">
      <p class="push-0 navy view-next micro">View Next Project</p>
      <p class="push-0 navy tera">{{data.nextProject}}</p>
  </div>
    </a>
</section>
