---
layout: default
---

{% assign data=site.data.homepage[3] %}
{% include case-study-template.html data=data %}


    <div class="unit xs-1 s-1 m-3-4 l-3-4 island-1-2  case-study-section">
      <p class="push-0 light base-sans">Over the past few months, I have had the pleasure of working with the <a href="https://ottawamhealth.ca">Ottawa mHealth Lab</a> team creating various applications for healthcare. Our main project is CANImmunize, a digital vaccination record tool for Canadians.</p>
    </div>
  </div>
  <div class="grid grid-middle cs-content">

    <div class="unit xs-1 s-1 m-1 l-1">
      <h3 class="push-1-2">Web Client</h3>
      <p class="milli push-2 serif">When I joined the team, the primary project was the web version of the already existant CANImmunize application. They were unhappy with the product at the time and asked me to come up with new designs. We landed on this one.</p>
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/canimmunize-all-devices-mockup.png" alt="">
      <h4 class="push-1-2">Icons</h4>
      <p class="milli serif">One of the first things I noticed when I started working on CANImmunize, was that all the icons were different. I later learned that they were all stock icons. This had to be changed.</p>
      <p class="milli serif push-2">I desperately wanted to design new fresh icons with an estalished look, but with all the work that had to be done, it just wasn't in the books time wise. Later on as I was designing icons for another project, it became apparent that I really enjoyed making them, so I got the go ahead to create some for CANImmunize.</p>
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/canimmunize-icons-colours.jpg" alt="">
      <p class="milli serif">I started by establishing a colour palette that was fun. CANImmunize's brand already had a blue, yellow and red so I decided to keep these colours. I added another tone of blue and a new green to give more options when designing new things.</p>
      <p class="milli serif push-2">Originally, I was using at outlined style, but after some discussion with coworkers, we determined the material style was the way to go. Here's a look at the icons.</p>

      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/canimmunize-icons.jpg" alt="">
      <p class="milli serif push-2">After designing a few icons, I realized some ideas were being repeated but meant slightly different things. For example, <i>Profile</i> was being used, but we also needed a <i>New Profile</i>. That's when I developed these sort of modifiers that could be added to any icon to change its meaning.</p>

      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/canimmunize-icons-with-modifiers.jpg" alt="">
      <p class="milli serif push-0">We are still developing this project that us currently in the Beta Testing phase. It is scheduled to officialy launch at the end of November.</p>

    </div>
  </div>
</section>

{% assign data=site.data.homepage[3] %}
{% include see-more.html data=data %}
