---
layout: caseStudy
title: Mélany Pelletier-Vaillant · Creative Mornings Ottawa
meta: Lettering to support Creative Mornings Ottawa.
---
{% assign data=site.data.projects[5] %}
{% include main-navigation.html data=data %}

{% assign data=site.data.projects[5] %}
{% include case-study-header.html data=data %}

<section>
  <div class="grid wrapper my-padding gutter-2 slide-element">
    <div class="unit s-1  m-2-3 l-2-3 pad-b-2">
      <div class="my-max-length">
        <p class="project-intro-heading giga regular navy">Creative Mornings Ottawa is a monthly global creative lecture series.</p>
        <p class="project-intro push-0 gray third milli">The CM Ottawa team approached me to create a custom lettering piece that would be printed on merchandise to help raise funds for the event. Seeing as it is 100% free and the organizers give their time to plan awesome events every month, I was so happy and honoured to be able to help in any way that I could.</p>
      </div>
    </div>
    <div class="unit s-1 m-1-3 l-1-3 project-details">
      <p class="push-0 detail-title micro">CLIENT</p>
      <p class="navy">{{data.projectClient}}</p>
      <p class="push-0 detail-title micro">WEBSITE</p>
      <a class="navy cm-hover push ib no-decoration" href="{{data.projectUrl}}">{{data.projectWebsite}}</a>
      <p class="push-0 detail-title micro">DATE</p>
      <p class="navy">{{data.projectDate}}</p>
    </div>
  </div>
</section>

<section class="gray-background">
  <div class="wrapper gutter-2 my-padding slide-element">
    <h4 class="navy push-1-2 text-center regular">Sketches</h4>
    <p class="push-0 my-padding-bottom gray third milli my-max-length text-center">The CM team wanted the final lettering piece to be simple and whimsical. It was meant to be printed on various products to help raise funds for the events, so it had to be versatile. I started by sketching a few different designs.</p>
    <img class="img-flex" src="{{site.baseurl}}/images/creative-mornings/cm-sketches.png" alt="">
  </div>
</section>

<section class="my-padding">
  <div class="wrapper slide-element grid grid-middle">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 my-wrapper gutter-2">
      <h4 class="navy push-1-2 regular">Ottawa is Creative</h4>
      <p class="gray third milli">The process was very quick! When I presented the first iteration to the team, they immediately decided to go forward with the design. I went ahead and created the vector version!</p>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 island gutter-2">
      <img class="img-flex" src="{{site.baseurl}}/images/creative-mornings/cm-final-design.jpg" alt="">
    </div>
  </div>
</section>
<section>
  <img class="img-flex" src="{{site.baseurl}}/images/creative-mornings/cm-colour-options.jpg" alt="">
</section>

<section class="">
  <div class="wrapper gutter-2 my-padding slide-element">
    <h4 class="navy push-1-2 text-center regular">Good Morning</h4>
    <p class="push-0 my-padding-bottom gray third milli my-max-length text-center">Every event serves coffee and breakfast so they encourage guests to bring reusable mugs to reduce waste. It was only fitting that the design be printed on mugs first! Now people can purchase and use their Ottawa is Creative mug every month. Take a look below!</p>
    <div class="grid grid-middle">
      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
          <img class="img-flex img-border" src="{{site.baseurl}}/images/creative-mornings/cm-mug.jpg" alt="">
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
          <img class="img-flex img-border" src="{{site.baseurl}}/images/creative-mornings/cm-mug-2.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="cm-dark-background my-padding">
  <div class="grid grid-middle wrapper slide-element">
    <div class="unit xs-1 s-1 m-1-2 l-2-3 island gutter-2">
      <img class="img-flex" src="{{site.baseurl}}/images/creative-mornings/cm-card.png" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-3 gutter-2">
      <h4 class="white regular push-1-2">Meet the Illustrator</h4>
      <p class="white push-0 third milli">Originally the team offered to put my credit on the piece itself, but I felt it took away from the design! Instead, they created this card that was distributed with the mug. They turned out so nicely and I'm so thankful they did this!</p>
    </div>
  </div>
</section>

<section class="my-padding slide-element">
  <div class="w-80 my-padding-bottom">
    <img class="img-flex wrapper img-border" src="{{site.baseurl}}/images/creative-mornings/cm-mug-card.jpg" alt="">
  </div>
  <p class="third milli gray my-max-length">I am still very honoured every time I see someone drink coffee out of one of these mugs! It's awesome to be part of an amazing community of creatives.</p>
  <p class="push-0 third milli gray my-max-length">You can pick one up at the next Creative Morning Ottawa event for $15. All proceeds go directly back into Creative Mornings. To find out when the next event is taking place, visit <a class="no-decoration cm-color cm-hover ib" href="https://creativemornings.com/cities/ott">www.creativemornings.com/cities/ott</a>.</p>
</section>

<section>
  <a class="next-project-section no-decoration cm-background next-project-cm ib" href="{{site.baseurl}}{{data.nextUrl}}">
  <div class="next-project-text pad-t-2 pad-b-2 text-center">
      <p class="push-0 navy light">View Next Project</p>
      <p class="push-0 navy tera">{{data.nextProject}}</p>
  </div>
    </a>
</section>
