---
layout: default
---

<section>
  <div class="hero-banner relative">
    <div class="gutter banner-text absolute wrapper">
      <p class="push-0 navy">Hello,</p>
      <h2 class="push-1-2 navy">I'm Melany</h2>
      <p class="navy push-0 light giga">I’m Melany Pelletier-Vaillant, a graphic designer based in Ottawa with a passion for illustration and web design - well, anything design related really.</p>
    </div>
    <div class="absolute banner-img">
      <!-- <img class="img-flex" src="{{site.baseurl}}/images/main-image.png" alt=""> -->
  </div>
    <div class="wrapper banner-links absolute">
      <ul class="list-group-inline push-0">
        <li><a class="milli navy banner-sm" href="https://www.dribbble.com/melanypelletier">Dribbble</a></li>
        <li><a class="milli navy banner-sm" href="https://www.instagram.com/melany.pv">Instagram</a></li>
        <li><a class="milli navy banner-sm" href="https://www.behance.net/melanypv">Behance</a></li>
      </ul>
    </div>
  </div>
</section>

    <section class="my-padding">
      <div class="grid grid-middle wrapper">

        {% for work in site.data.projects %}
        {% include project-buttons.html data=work %}
        {% endfor %}

      </div>
    </section>

    <section class="my-padding-bottom text-center">
      <div class="my-max-length gutter">
      <h2 class="push-1-2 navy">More Stuff</h2>
      <p class="light">Take a tour of my poorly organized computer files I spent way too much time looking for. I make cool stuff on the side to learn and to wind down. </p>
      </div>
      <div class="">
        <a class="milli enter-here-btn" href="{{site.baseurl}}/play">Enter Here</a>
      </div>
    </section>


</main>
