---
layout: caseStudy
title: Mélany Pelletier-Vaillant · Parkinson's Network
meta: Website design for Parkinson's Network
---

{% assign data=site.data.projects[6] %}
{% include main-navigation.html data=data %}

{% assign data=site.data.projects[6] %}
{% include case-study-header.html data=data %}

<section>
  <div class="grid wrapper my-padding gutter-2 slide-element">
    <div class="unit s-1  m-2-3 l-2-3 pad-b-2">
      <div class="my-max-length">
        <p class="project-intro-heading giga navy">Sometimes really cool projects just fall through, and that’s okay. What do you do then? Make it anyways. That’s what happened with this particular project. I decided to make it to gain more insight of web and application design.</p>
        <p class="project-intro push-0 gray">I branded and designed a web application for Parkinson's patients to track their symptoms in order to make more time for valuable conversation during their appointments. Physicians found that they were spending too much time filling in paperwork during visits and they needed a solution.</p>
      </div>
    </div>
    <div class="unit s-1 m-1-3 l-1-3 project-details">
      <p class="push-0 detail-title semibold yellow">CLIENT</p>
      <p class="navy">{{data.projectClient}}</p>
      <p class="push-0 detail-title semibold yellow">DATE</p>
      <p class="navy">{{data.projectDate}}</p>
    </div>
  </div>
</section>

<section class="gray-background">
  <div class="wrapper gutter-2 grid grid-middle my-padding">
    <div class="unit xs-1 s-1 m-1 l-1 my-max-length slide-element">
      <h4 class="navy push-1-2 regular tera">Branding</h4>
      <p class="gray milli push-0 third">I began with establishing a bright colour palette for the brand. After some research, I discovered that Parkinson's national symbol is the red tulip, therefore a bright and inviting red seemed fitting for this brand. I then added a few more neutral colours to compliment the primary one.</p>
    </div>
  </div>
</section>

<section class="my-padding">
  <div class="wrapper gutter-2 slide-element w-80">
    <img class="img-flex" src="{{site.baseurl}}/images/parkinsons/parkinsons-colours.jpg" alt="">
  </div>
</section>

<section class="my-padding parkinsons-green-background">
  <div class="wrapper slide-element">
    <div class="my-max-length gutter-2">
      <h5 class="white regular push-1-2">Icons</h4>
      <p class="white third milli">My favourite part of any project: icons. I opted for a detailed, linear style.</p>
    </div>
    <div class="slide-element w-80">
      <img class="img-flex island gutter-2" src="{{site.baseurl}}/images/parkinsons/parkinsons-icons.png" alt="">
    </div>
  </div>
</section>

<section class="my-padding">
  <div class="wrapper slide-element">
    <div class="my-max-length gutter">
      <h4 class="navy push-1-2 regular tera">Website</h4>
      <p class="gray milli third">The website's home page is kept very clean so information and resources are easily accessible.</p>
    </div>
    <div class="">
      <img class="img-flex gray-drop-shadow island gutter-2" src="{{site.baseurl}}/images/parkinsons/parkinsons-website.png" alt="">
    </div>
  </div>
</section>

<section class="my-padding gray-background">
  <div class="wrapper grid grid-middle slide-element">
    <div class="unit xs-1 s-1 m-1-2 l-2-3 island gutter-2">
      <img class="img-flex gray-drop-shadow" src="{{site.baseurl}}/images/parkinsons/physician-login.png" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-3 gutter-2">
      <h5 class="push-1-2 navy regular">Logins</h5>
      <p class="gray milli third">The login pages were designed to reprent both physicians and patients. It is also very easy to switch between each page.</p>
    </div>

    <div class="unit xs-1 s-1 m-1-2 l-2-3 island gutter-2">
      <img class="img-flex gray-drop-shadow" src="{{site.baseurl}}/images/parkinsons/patient-login.png" alt="">
    </div>
  </div>
</section>

<section class="parkinsons-background-3 my-padding">
  <div class="grid grid-middle wrapper slide-element">
    <div class="unit xs-1 s-1 m-1 l-1 gutter-2 my-max-length pad-b-2">
      <h5 class="push-1-2 white regular">Dashboards</h5>
      <p class="white milli third push-0">Next were the portals. It was important to design for both patient and physician. I created a portal where patients can easily track their symptoms and complete assessments, that way when they visit their physician, the time can be spent discussing the important issues and not doing paperwork.</p>
    </div>
    <div class="unit xs-1 s-1 m-1 l-1">
      <img class="img-flex island gray-drop-shadow island gutter-2" src="{{site.baseurl}}/images/parkinsons/physician-dashboard.png" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1 l-1">
      <img class="img-flex island gray-drop-shadow gutter-2" src="{{site.baseurl}}/images/parkinsons/patient-dashboard.png" alt="">
    </div>
</section>



<section>
  <a class="next-project-section no-decoration parkinsons-background next-project-parkinsons ib" href="{{site.baseurl}}{{data.nextUrl}}">
  <div class="next-project-text pad-t-2 pad-b-2 text-center">
      <p class="push-0 navy view-next micro">View Next Project</p>
      <p class="push-0 navy tera">{{data.nextProject}}</p>
  </div>
    </a>
</section>
