---
layout: default
title: Melany Pelletier-Vaillant Project Big Life
---

{% assign data=site.data.homepage[2] %}
{% include case-study-template.html data=data %}


<section class="wrapper pad-t-2 pad-b-2 gutter">
  <div class="cs-content grid grid-middle">
    <div class="unit xs-1 s-1 m-1 l-1">
      <p class="push-2 base-sans">Sometimes really cool projects just fall through, and that’s okay. What do you do then? Make it anyways. That’s what happened with this particular project. I was really excited to work on a platform for Parkinson’s patients but it didn’t work out. I decided to make it to gain more insight of web and application design.</p>
    </div>
    <div class="unit xs-1 s-1 m-1 l-1">
      <p class="milli serif">This is in no way accurate or tested or anything. It was really to explore interactivity and designing things I’ve always wanted to do: dashboards, cool icons and apps. I did keep in mind what I thought would be useful for Parkinson’s patients, based on my limited research and knowledge.</p>
    </div>
    <div class="unit xs-1 s-1 m-1 l-1">
      <p class="milli push-2 serif">I created a false Network, and started by creating the website. I wanted the primary colour to be bright, because we are still dealing with a serious topic. After some research, I found out the international symbol for Parkinson’s is the red tulip, so naturally using a bright red made sense.</p>
    </div>
  </div>

  <div class="grid grid-middle">
    <div class="unit xs-1 s-1 m-1 l-1">
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/parkinsons/parkinsons-home-page.jpg" alt="">
    </div>
  </div>
  <div class="grid grid-middle">
    <div class="unit xs-1 s-1 m-1 l-1 cs-content">
      <p class="milli push-2 serif">Next was the portal itself. It was important to design for both patient and physician. I created a portal where patients can easily track their symptoms and complete assessments, that way when they visit their physician, the time can be spent discussing the important issues and not doing paperwork.</p>
    </div>

    <!-- Patient Portal -->
    <div class="grid grid-middle">
    <div class="unit xs-1 s-1 m-1-3 l-1-3 island-1-2 cs-content">
      <h4 class="push-1-2">Patient Portal</h4>
      <ol class="list-group">
        <li class="grid grid-top">
          <div class="unit xs-1-7">
          <i class="icon i-32"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-1.svg" alt=""></i>
        </div>
          <div class="unit xs-6-7">
            <h5 class="ib kilo push-0 park-h5">View Upcoming Appointments</h5>
            <p class="milli push-1-2">Keep track of your upcoming appointment and assessment tests right on the front page of your dashboard</p>
          </div>
        </li>
        <li class="grid grid-top">
          <div class="unit xs-1-7">
          <i class="icon i-32"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-2.svg" alt=""></i>
        </div>
          <div class="unit xs-6-7">
            <h5 class="ib kilo push-0 park-h5">Symptoms Overview</h5>
            <p class="milli push-1-2">View how frequent your symptoms have been. Customize to track one particular symptom.</p>
          </div>
        </li>
        <li class="grid grid-top">
          <div class="unit xs-1-7">
          <i class="icon i-32"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-3.svg" alt=""></i>
        </div>
          <div class="unit xs-6-7">
            <h5 class="ib kilo push-0 park-h5">Track Assessment Progress</h5>
            <p class="milli push-1-2">Complete all your assessments on time with this progress box.</p>
          </div>
        </li>
        <li class="grid grid-top">
          <div class="unit xs-1-7">
          <i class="icon i-32"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-4.svg" alt=""></i>
        </div>
          <div class="unit xs-6-7">
            <h5 class="ib kilo push-0 park-h5">Symptom Diary</h5>
            <p class="milli push-1-2">Track your symptoms in the symptom diary to help your physician treat you correctly and view your progress.</p>
          </div>
        </li>
      </ol>
    </div>
    <div class="unit xs-1 s-1 m-2-3 l-2-3 island-1-2">
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/parkinsons/patient-dashboard.jpg" alt="">
    </div>
  </div>

    <!-- Physician Portal -->
    <div class="grid grid-middle">
    <div class="unit xs-1 s-1 m-2-3 l-2-3">
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/parkinsons/physician-dashbaord.jpg" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1-3 l-1-3 island-1-2 cs-content">
      <h4 class="push-1-2">Physician Portal</h4>
      <ol class="list-group">
        <li class="grid grid-top">
          <div class="unit xs-1-8">
          <i class="icon i-24"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-1.svg" alt=""></i>
        </div>
          <div class="unit xs-7-8">
            <h5 class="ib kilo push-0 park-h5">View Schedule</h5>
            <p class="milli push-1-2">Easily view your schedule for the day and create new appointments to maximize your time.</p>
          </div>
        </li>
        <li class="grid grid-top">
          <div class="unit xs-1-8">
          <i class="icon i-24"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-2.svg" alt=""></i>
        </div>
          <div class="unit xs-7-8">
            <h5 class="ib kilo push-0 park-h5">Track Patients</h5>
            <p class="milli push-1-2">View patient information, assessments and symptoms diaries to better understand their condition.</p>
          </div>
        </li>
        <li class="grid grid-top">
          <div class="unit xs-1-8">
          <i class="icon i-24"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-3.svg" alt=""></i>
        </div>
          <div class="unit xs-7-8">
            <h5 class="ib kilo push-0 park-h5">See patient progress</h5>
            <p class="milli push-1-2">Get an overall look at the progress of your patients.</p>
          </div>
        </li>
        <li class="grid grid-top">
          <div class="unit xs-1-8">
          <i class="icon i-24"><img class="img-flex" src="{{site.baseurl}}/images/parkinsons/bullet-4.svg" alt=""></i>
        </div>
          <div class="unit xs-7-8">
            <h5 class="ib kilo push-0 park-h5">Quick Statistics</h5>
            <p class="milli push-0">See how many patients are completing their assessments and develop methods to increase activity.</p>
          </div>
        </li>
      </ol>
    </div>
  </div>

  <!-- Application -->
  <div class="grid grid-middle">
    <div class="unit xs-1 s-1 m-1 l-1 cs-content">
      <p class="milli push-2 serif">The companion app was also created to allow patients to track and complete assessments wherever they are. You aren’t always near a computer when a symptom occurs. So this was very important as well.</p>
    </div>

      <div class="unit xs-1 s-1 m-1 l-1">
        <img class="img-flex img-border" src="{{site.baseurl}}/images/parkinsons/parkinsons-phone-mockups.jpg" alt="">
      </div>
  </div>
</section>
{% assign data=site.data.homepage[2] %}
{% include see-more.html data=data %}
