---
layout: caseStudy
title: Mélany Pelletier-Vaillant · Project Big Life
meta: A look at the process of creating Project Big Life's illustration style.
---

{% assign data=site.data.projects[4] %}
{% include main-navigation.html data=data %}

{% assign data=site.data.projects[4] %}
{% include case-study-header.html data=data %}

<section>
  <div class="grid wrapper my-padding gutter-2 slide-element">
    <div class="unit s-1 m-2-3 l-2-3 pad-b-2">
      <div class="my-max-length">
        <p class="project-intro-heading giga regular navy">Project Big Life are algorithms that help predict your life expectancy, risk of disease, and diet quality.</p>
        <p class="project-intro push-0 gray third milli">I had the opportunity to develop PBL’s illustration style from scratch. But how do you deal with such a heavy subject matter? These calculators output results about your health, so it was very important the information be presented in an approachable manner. We wanted to encourage  users to complete the assessments. So I got to creating!</p>
      </div>
    </div>
    <div class="unit s-1 m-1-3 l-1-3 gutter">
      <p class="push-0 detail-title micro {{data.projectColor}}">CLIENT</p>
      <p class="navy">{{data.projectClient}}</p>
      <p class="push-0 detail-title micro {{data.projectColor}}">WEBSITE</p>
      <a class="navy pbl-hover push ib no-decoration" href="{{data.projectUrl}}">{{data.projectWebsite}}</a>
      <p class="push-0 detail-title micro {{data.projectColor}}">DATE</p>
      <p class="navy">{{data.projectDate}}</p>
    </div>
  </div>
</section>

<section class="section-gray">
  <div class="grid wrapper grid-middle my-padding slide-element gutter">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 island">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/character-exploration.png" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 island">
      <h4 class="navy push-1-2 regular">Exploration</h4>
      <p class="gray third milli push-0">My first order of business was to establish a style. I wanted the look to be bubbly, fun and eye catching to distract people from the heaviness of these algorithms.</p>
    </div>
  </div>
</section>

<section class="my-padding">
  <div class="wrapper slide-element">
    <div class="my-wrapper gutter-2">
      <h4 class="navy regular push-1-2">Colours</h4>
      <p class="gray third milli">Since illustrations would be found in every aspect of the project, I established a vast, bright colour palette to make sure we never ran out of options.</p>
    </div>
    <div class="island gutter-2">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/colour-swatches.png" alt="">
    </div>
  </div>
</section>

<section class="my-padding gray-background">
  <div class="wrapper slide-element grid grid-middle">
    <div class="unit s-1 m-1 l-1-3 my-wrapper gutter-2">
      <h4 class="navy regular push-1-2">Icons</h4>
      <p class="gray third milli">I decided to start off with the more simpler items to establish a cohesive style and explore the colours I had chosen. These are the icons developed that are used in the questionnaire.</p>
    </div>
    <div class="island gutter-2 unit s-1 m-1 l-2-3">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/pbl-icons.png" alt="">
    </div>
  </div>
</section>

<section class="pbl-background my-padding">
  <div class="grid grid-middle wrapper slide-element">
    <div class="unit xs-1 s-1 m-1-2 l-2-3 island gutter-2">
      <img class="img-flex blue-drop-shadow" src="{{site.baseurl}}/images/pbl/navigation.png" alt="">
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-3 gutter-2">
      <h4 class="navy regular push-1-2">Navigation Icons</h4>
      <p class="navy third milli push-0">I then moved on to the navigation icons which helped visualize the brand.</p>
    </div>
  </div>
</section>

<section>
  <div class="my-padding wrapper">
    <div class="grid grid-middle slide-element">
      <div class="unit xs-1 s-1 m-1-2 l-1-3 unit-push-m-1-2 unit-push-l-2-3 gutter-2">
        <h4 class="navy regular push-1-2">Life Expectancy Splash</h4>
        <p class="gray third milli">Each calculator has its own splash landing page where the illustration is the main focus. For the Life Expectancy calculator, we explored the idea of the journey of life and the ups and downs we face.</p>
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-2-3 unit-pull-m-1-2 unit-pull-l-1-3 island gutter-2">
        <img class="img-flex gray-drop-shadow" src="{{site.baseurl}}/images/pbl/le-splash.png" alt="">
      </div>
    </div>

    <div class="grid grid-middle slide-element">
      <div class="unit xs-1 s-1 m-1-2 l-1-3 gutter-2">
        <h4 class="navy regular push-1-2">RESPECT Splash</h4>
        <p class="gray third milli">The RESPECT calculator calculates your risk of death if you are in end of life. This is a primary example of making sure the illustration creates a positive experience.</p>
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-2-3 island gutter-2">
        <img class="img-flex gray-drop-shadow" src="{{site.baseurl}}/images/pbl/respect-splash.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="pbl-dark-background pbl-bubbles">
  <div class="wrapper my-padding slide-element gutter">
    <div class="text-center my-max-length">
      <h4 class="white regular push-1-2">Questionnaire</h4>
      <p class="white third milli">The actual survey itself was looking pretty bland - we decided to spruce it up by adding some images to guide the user along the way.</p>
    </div>
    <div class="">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/questionnaire-layout.png" alt="">
    </div>
  </div>
</section>

<section class="my-padding">
  <div class="wrapper slide-element gutter-2 grid">
    <div class="unit xs-1 s-1-2 m-1-2 l-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/le-card.png" alt="">
    </div>
    <div class="unit xs-1 s-1-2 m-1-2 l-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/heart-card.png" alt="">
    </div>
    <div class="unit xs-1 s-1-2 m-1-2 l-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/respect-card.png" alt="">
    </div>
    <div class="unit xs-1 s-1-2 m-1-2 l-1-4">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/sodium-card.png" alt="">
    </div>
  </div>
</section>

<section class="my-padding pbl-background">
  <div class="my-wrapper gutter-2 text-center">
    <h4 class="regular push-1-2">Email Marketing</h4>
    <p class="gray third milli push-0">The PBL team launched their email newsletter that I had the opportunity to design. We wanted to incorporate branded illustrations in these materials to make the email more appealing.</p>
  </div>
  <div class="wrapper slide-element grid grid-middle">
    <div class="unit xs-1 s-1-1 m-1-1 l-1-1 gutter-2 island">
      <img class="img-flex" src="{{site.baseurl}}/images/pbl/pbl-email-newsletter.png" alt="">
    </div>
</section>

<section>
  <div class="my-max-length my-padding gutter-2">
    <p class="gray third milli push">It was amazing getting the opportunity to develop an illustration style for Project Big Life. </p>
    <p class="gray third milli push-0"> Make sure to find out your life expectancy at <a class="no-decoration pbl-color pbl-hover ib" href="https://www.projectbiglife.ca">www.projectbiglife.ca</a></p>
  </div>
</section>


<section>
  <a class="next-project-section no-decoration pbl-background next-project-pbl ib" href="{{site.baseurl}}{{data.nextUrl}}">
  <div class="next-project-text pad-t-2 pad-b-2 text-center">
      <p class="push-0 navy view-next micro">View Next Project</p>
      <p class="push-0 navy tera">{{data.nextProject}}</p>
  </div>
    </a>
</section>
