---
layout: default
title: Melany Pelletier-Vaillant Project Big Life
---
  {% assign data=site.data.homepage[0] %}
  {% include case-study-template.html data=data %}
    <div class="unit xs-1 s-1 m-3-4 l-3-4 island-1-2">
        <p class="base-sans light push-0">I got the amazing opportunity to design illustrations for <a class="pbl-link" href="https://www.projectbiglife.ca/">Project Big Life</a>, online health calculators that predict your life expectancy and other cool things. I had always been really interested in illustration, but was only creating small pieces for fun, so the chance to create illustrations from scratch and establish a look was super exciting to me but also so intimidating.</p>
      </div>
    </div>
    <div class="grid grid-middle">
      <div class="unit xs-1 s-1 m-1 l-1-3 ">
        <p class="milli serif island-1-2">Where do I start? Instead of diving into the big stuff first, I started small. I began with simple icons used in the questionnaires, like the genders and food drawings. The site was already using fun colours, and a bubbly background splash, so I decided to incorporate this style in the drawings.</p>
      </div>
      <div class="unit xs-1 s-1 m-1 l-2-3 island-1-2">
        <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/food-icons.jpg" alt="">
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/navigation-icons.jpg" alt="">
          <figcaption class="micro">Main navigation icons (Meet the Team, News, About the Science, FAQ)</figcaption>
        </figure>
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/gender-icons.jpg" alt="">
          <figcaption class="micro">Gender icons for health calculators</figcaption>
        </figure>
      </div>
    </div>

    <div class="grid grid-middle gutter-1-2">
      <div class="unit xs-1 s-1 m-1 l-1 cs-content pad-t-2">
        <p class="milli serif">Once I had established these simple elements that I could pull colours and elements from, it was time to tackle the big stuff. Every calculator needed a sort of splash page, oh yeah, and one of them needs to be done by tomorrow because they are being interviewed on TV. Time to buckle down.</p>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 cs-content">
        <p class="milli serif push-2">Not going to lie, I was dreading drawing people. I found some reference images I liked I went from there. Still keeping the bubbly theme in mind, I drew characters and surprised myself for a first try. One of the main requirements was that the characters should look directly at the user; their eyes should stand out on the page. I developed these features that I thought were detailed enough to convey this idea. I finished the Heart & Stroke illustration on time, then the next day I receive this:</p>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1s">
        <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/pbl/pbl-screen.png" alt="">
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 cs-content">
        <p class="milli serif">Part of me is thinking: <strong class="base-sans">WOW THIS IS SO COOL</strong>, the other half is saying <strong class="base-sans">WHAT WAS I THINKING?</strong> It definitely needed some work, but for something made in a day I was pretty damn proud. I went on to develop the rest of the splash illustrations.</p>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 cs-content">
        <p class="milli serif">One of the very first comments I got back was that they weren’t ‘cartoony’ enough. The PBL team had previously been using a cartoony style and they really wanted to incorporate this feeling into the new illustrations. Also, the faces did not scale well when very small. This needed to be fixed.</p>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 cs-content">
        <p class="milli push-2 serif">Of course the right solution was to not restart the hours I had already invested in this. So I set off to fix what I had done. I researched styles I liked and set up a mood board. Then I tackled the most important part: the faces. I came up with a guide to keep consistency. These new designs are much better for this project: the eyes are bigger, the mouth and noses are simpler and more defined, and the shadows are kept to a minimum. I was really liking where this was going.</p>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 push-2">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/face-exploration.jpg" alt="">
          <figcaption class="micro">Caracter style explorations</figcaption>
        </figure>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 cs-content">
        <p class="milli push-2 serif">Next up: the bodies. Again, simplifying everything and making it cartoony was key. I rounded lines and exaggerated body part sizes. Here you can see the before and after.</p>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/respect-version-comparision.jpg" alt="">
          <figcaption class="micro push-2">Character styles before (left) and after (right)</figcaption>
        </figure>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1 cs-content">
        <p class="milli push-2 serif">I was feeling way better about the after. Now it was a question of converting all the old illustrations into the new style, which was done pretty quickly since the bulk of the work was already complete. </p>
      </div>
    </div>
    <div class="grid grid-middle">
      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/life-expectancy-splash.jpg" alt="">
          <figcaption class="micro">Life Expectancy Splash</figcaption>
        </figure>
      </div>

      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/activity-survey-illustration.jpg" alt="">
          <figcaption class="micro">High intensity physical activity</figcaption>
        </figure>
      </div>

      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/light-activity-survey-illustration.jpg" alt="">
          <figcaption class="micro">Moderate intensity physical activity</figcaption>
        </figure>
      </div>

      <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
        <figure>
          <img class="img-flex img-border" src="{{site.baseurl}}/images/pbl/weight-survey-illustration.jpg" alt="">
          <figcaption class="micro">Weight illustration</figcaption>
        </figure>
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1 l-1 cs-content pad-t-2">
      <p class="milli serif island-1-2">This project is far from over. I'm still designing marketing materials and refining splash pages. Go find out your life expectancy <a class="pbl-link base-sans" href="https://www.projectbiglife.ca/life-expectancy-home">here!</a></p>
    </div>
  </section>
  {% assign data=site.data.homepage[0] %}
  {% include see-more.html data=data %}
