---
layout: default
title: Melany Pelletier-Vaillant QUILT
---
  {% assign data=site.data.homepage[1] %}
  {% include case-study-template.html data=data %}

    <p class="milli push-2 cs-content">QUILT (Quality for Individuals who require Long-Term support) is a group of health care professionals of all backgrounds focused on research for long-term care patients. They were in need of a branding identity representing the coming together of all these people.</p>

</div>
    <div class="cs-content">
      <p class="milli push-2">QUILT (Quality for Individuals who require Long-Term support) is a group of health care professionals of all backgrounds focused on research for long-term care patients. They were in need of a branding identity representing the coming together of all these people.</p>
      <h4 class="push-1-2">Challenges</h4>
      <p class="milli push-2">Bringing many people together meant bringing many brands together. The main challenge was finding the balance between all the already established organizations and create something representative of all.</p>
      <h4 class="push-1-2">Research</h4>
      <p class="milli push-2">I needed to stay away from the cliché health industry logos. (You know what I’m talking about - the ones with stick people holding hands). I researched QUILT’s mission statements and definition, and I was bombarded with medical terms I tried really hard to understand. In the end, I brought it down to one idea: coming together to research long-term care. This helped me focus on what was really important and had to be shown in the logo.</p>
      <h4 class="push-1-2">Development</h4>
      <p class="milli push-2">So I began exploring different concepts: the letter ‘Q’ seemed like one idea, then the coming together of various shapes creating one image. So I went ahead and sketched… a lot.</p>
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/quilt-logo-options-1.jpg" alt="">
      <p class="milli">None of them were really working for me. I hadn’t gotten the chance yet to speak to real human beings behind the project, so I prepared a couple that I liked and presented for feedback. At the meeting, we identified what important ideas were important to convey: coming together, the journey of patients, life… All very big level concepts that needed to be illustrated.</p>
      <p class="milli push-2">Alright, maybe a bridge? Crossing over to the afterlife? I don’t want this to be morbid, but we are ultimately dealing with death. Maybe some kind of path? No, cheesy. I just kept experimenting when I finally came down to this idea.</p>
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/quilt-logo-options-2.jpg" alt="">
      <p class="milli">I was so relieved. I loved it. My boss loved it. I sent it to the client feeling so good about it.</p>
      <p class="milli">It was very short lived.</p>
      <p class="milli">It’s the Samsonite logo! Of course someone is already using this. Time for me to Google if it’s okay for me to use a very similar logo of a big company’s. In the end, my gut feeling is just telling me to not do it. Everyone else seemed okay with it, but it didn’t sit well with me.</p>
      <p class="milli">Back to the drawing board… again.</p>
      <p class="milli">After a few more iterations of logos I didn’t like, I decided to message a friend for advice. I explained to him my story and what I was trying to do. That’s when he said “Why don’t you try shapes that are weaved together?”</p>
      <p class="milli">Weaving. YES!</p>
      <p class="milli push-2">Here’s my first iteration that reminded me of bacon strips. It wasn’t right, but I knew I was going somewhere with this concept. I kept exploring until I fell on something I was happy with. I tried getting rid of as much information I could to still convey the weaving idea.</p>
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/quilt-logo-options-3.jpg" alt="">
      <h4 class="push-1-2">The Solution</h4>
      <p class="milli push-2">Finally I created this logo, and the clients chose it right away!</p>
      <img class="img-flex push-2 img-border" src="{{site.baseurl}}/images/quilt-vertical-colour.jpg" alt="">

      <p class="milli max-length push-2">We went on to discuss colour, which we ultimately landed on red since it was on of the organization’s colours and it stood out from the blues usually found in health care settings.</p>
      <img class="img-flex img-border cs-img-special" src="{{site.baseurl}}/images/quilt-final-logo-variations.jpg" alt="">
      <h4 class="push-1-2">Branding Guide</h4>
      <p class="milli">I then got the opportunity of creating their Branding Guide (every designer’s dream). They made it clear that they are doctors and researchers, they don’t know anything about design so they should be able to pick this up and understand what to do. I wanted everyone to understand when to use which variation of the logo, as well as which file type is appropriate for every situation. I often find clients getting overwhelmed will all the different files they receive, and they don’t know which one to use. I always outline the differences and scenarios for each.</p>
      <p class="milli push-2">Here’s a look at the inside of the Branding Guide.</p>
      <img class="img-flex img-border push-1-2" src="{{site.baseurl}}/images/quilt-branding-guidelines/quilt-branding-guide-2.jpg" alt="">
      <img class="img-flex img-border push-1-2" src="{{site.baseurl}}/images/quilt-branding-guidelines/quilt-branding-guide-3.jpg" alt="">
      <img class="img-flex img-border push-1-2" src="{{site.baseurl}}/images/quilt-branding-guidelines/quilt-branding-guide-4.jpg" alt="">
      <img class="img-flex img-border push-1-2" src="{{site.baseurl}}/images/quilt-branding-guidelines/quilt-branding-guide-5.jpg" alt="">
      <img class="img-flex img-border push-1-2" src="{{site.baseurl}}/images/quilt-branding-guidelines/quilt-branding-guide-6.jpg" alt="">
      <img class="img-flex img-border push-1-2" src="{{site.baseurl}}/images/quilt-branding-guidelines/quilt-branding-guide-7.jpg" alt="">
      <img class="img-flex img-border push-2" src="{{site.baseurl}}/images/quilt-branding-guidelines/quilt-branding-guide-8.jpg" alt="">

      <h4 class="push-1-2">Closing Remarks</h4>
      <p class="milli">Even though I stressed over this for months, it was so worth it. I was sent pictures of the logo being used at a conference and it was a really awesome feeling. Sometimes just stepping back and asking for a different perspective drives you to the answer.</p>
    </div>
</section>
{% include see-more.html %}
