  <header class="project-header {{include.data.headerColor}} {{include.data.projectBanner}} relative" role="banner">
    <div class="wrapper grid grid-middle project-title absolute gutter">
      <div class="unit xs-0 s-0 m-0 l-1-4">
        <div>
          <a class="previous-project-btn" href="{{site.baseurl}}{{include.data.previousUrl}}">
            <i class="icon i-32 back-arrow"><svg class="arrows"><use xlink:href="{{site.baseurl}}/images/icons.svg#arrow"></use></svg></i>
            <p class="ib push-0 previous-project">{{include.data.previousProject}}</p>
          </a>
        </div>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1-2">
        <h2 class="cs-title text-center push-0">{{include.data.projectTitle}}</h2>
      </div>

      <div class="unit xs-0 s-0 m-0 l-1-4">
        <div class="text-right">
          <a class="next-project-btn" href="{{site.baseurl}}{{include.data.nextUrl}}">
            <p class="ib push-0 next-project">{{include.data.nextProject}}</p>
            <i class="icon i-32 next-arrow"><svg class="arrows"><use xlink:href="{{site.baseurl}}/images/icons.svg#arrow"></use></svg></i>
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="wrapper pad-t-2 pad-b-2 gutter" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="grid grid-middle push-2">
      <div class="unit xs-1 s-1 m-1 l-1-4 text-center island-1-2 cs-details {{include.data.projectColor}}">
        <p itemprop="genre" class="push-0">{{include.data.projectType}}</p>
        <p itemprop="dateCreated" class="push-0">{{include.data.projectDate}}</p>
        <p itemprop="url" class="push-0"><a class="details-link" href="{{include.data.projectUrl}}">{{include.data.projectWebsite}}</a></p>
      </div>

  <main role="main" id="main">
    <section class="wrapper pad-t-2 pad-b-2 gutter" itemscope itemtype="http://schema.org/CreativeWork">
      <div class="grid grid-middle push-2">
        <div class="unit xs-1 s-1 m-1-4 l-1-4 text-center island-1-2 cs-details {{include.data.projectColor}}">
          <p itemprop="genre" class="push-0">{{include.data.projectType}}</p>
          <p itemprop="dateCreated" class="push-0">{{include.data.projectDate}}</p>
          <p itemprop="url" class="push-0"><a class="details-link" href="{{include.data.projectUrl}}">{{include.data.projectWebsite}}</a></p>
        </div>
