<section class="case-study-header {{include.data.projectHeader}}">
  <div class="case-study-content">
    <div class="grid grid-middle wrapper absolute pin-c gutter pad-b-2">
      <div class="unit s-1 m-1-2 unit-push-m-1-2 l-2-3 unit-push-l-1-3">
        <img class="img-flex gutter" src="{{site.baseurl}}/images/{{data.projectBanner}}" alt="">
      </div>
      <div class="unit s-1 m-1-2 unit-pull-m-1-2 l-1-3 unit-pull-l-2-3">
        <h1 class="navy banner-title regular push-1-2">{{data.projectTitle}}</h1>
        <h2 class="navy mega regular">{{data.projectSubTitle}}</h2>
        <p class="banner-text">{{data.projectLongDescription}}</p>
        <p class="micro tags">{{data.tags}}</p>
      </div>
    </div>
  </div>
</section>
