<header class="project-header {{include.data.headerColor}} relative">
  <div class="wrapper grid grid-middle project-title absolute gutter">
    <div class="unit xs-1-4">
      <div>
        <a class="previous-project-btn" href="{{baseurl}}{{include.data.previousUrl}}">
          <i class="icon i-32 back-arrow"><img class="img-flex" src="{{site.baseurl}}/images/arrow.svg"></i>
          <p class="ib push-0 previous-project">{{include.data.previousProject}}</p>
        </a>
      </div>
    </div>

    <div class="unit xs-1-2">
      <h2 class="cs-title text-center push-0">{{include.data.projectTitle}}</h2>
    </div>

    <div class="unit xs-1-4">
      <div class="text-right">
        <a class="next-project-btn" href="{{baseurl}}{{include.data.nextUrl}}">
          <p class="ib push-0 next-project">{{include.data.nextProject}}</p>
          <i class="icon i-32 next-arrow"><img class="img-flex" src="{{site.baseurl}}/images/arrow.svg"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<section class="wrapper pad-t-2 pad-b-2 gutter">
    <div class="cs-side-bar stick" id="stick">
      <h3 class="giga project-side-title push-1-2 pad-b-1-2">{{include.data.projectTitle}}</h3>
      <p class="project-details push-1-2">{{include.data.projectType}}<br>{{include.data.projectDate}}</p>
      <p class="project-description milli push-1-2">{{include.data.projectLongDescription}}</p>
      <a class="pbl-website milli push-0" href="{{include.data.projectUrl}}"="project-website">{{include.data.projectWebsite}}</a>
    </div>
