<header class="{{include.site.data.projects.projectBackground}}">
  <div class="grid grid-middle wrapper pad-t pad-b gutter">
    <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4">
      <p class="push-0"><a class="no-decoration navy semibold milli" href="{{site.baseurl}}/index">Melany Pelletier-Vaillant</a></p>
    </div>
    <div class="unit xs-1-2 s-1-2 m-1-2 l-3-4">
      <nav>
        <ul class="list-group-inline push-0 text-right">
          <li class="push-r milli"><a href="{{site.baseurl}}/project-big-life">Work</a></li>
          <li class="milli"><a href="{{site.baseurl}}/play">Play</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
