<header class="{{include.data.projectBackground}}">
  <div class="grid grid-middle wrapper pad-t-4 gutter">
    <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4">
      <a class="no-decoration navy" href="{{site.baseurl}}/index">Mélany Pelletier-Vaillant</a>
    </div>
    <nav class="unit xs-1-2 s-1-2 m-1-2 l-3-4 main-navigation">
      <ul class="list-group-inline push-0 text-right">
        <li class="push-r micro"><a href="{{site.baseurl}}/canimmunize">Work</a></li>
        <li class="micro"><a href="{{site.baseurl}}/play">Play</a></li>
    </nav>
  </div>
</header>
