<div class="project-card slide-element island-1-2 {{include.data.projectBackground}}">
  <a class="ib" href="{{site.baseurl}}{{include.data.projectLink}}">
    <div class="grid grid-middle gutter-2">
      <div class="unit xs-1 s-1 m-1-2 island {{include.data.pushClass}}">
        <img class="img-flex" src="{{site.baseurl}}/images/{{include.data.projectImage}}" alt="">
      </div>
      <div class="unit xs-1 s-1 m-1-2 {{include.data.pullClass}} island">
        <p class="tera navy push-1-2 portfolio-title">{{include.data.projectTitle}}</p>
        <p class="navy regular push-1-2">{{include.data.projectShortDescription}}</p>
        <p class="navy semibold push-0 micro sans-serif case-study-text">View Case Study<i class="icon i-16 gutter-1-2 arrow-icon"><svg><use xlink:href="images/icons.svg#arrow"></use></svg></i></p>
      </div>
    </div>
  </a>
</div>
