<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "name": "{{include.data.projetTitle}}",
    "author": {
      "@type": "Person",
      "name": "Melany Pelletier-Vaillant"
    },
    "image": "{{site.bsaeurl}}/images/{{include.data.projectImage}}",
    "url": "{{include.data.projectLink}}",
    "dateCreated": "{{include.data.projectDate}}",
    "description": "{{include.data.projectShortDescription}}",
    "keywords": "{{include.data.seoKeywords}}"
  }
</script>
