<!DOCTYPE html>
<html lang='en-ca'>
<head>
  <meta charset='utf-8'>
  <title>Mélany Pelletier-Vaillant · Graphic Designer</title>
  <meta name="description" content="The works of a Graphic Designer who just wants to get her stuff out there">
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link href='{{site.baseurl}}/css/grid.css' rel='stylesheet'>
  <link href='{{site.baseurl}}/css/type.css' rel='stylesheet'>
  <link href='{{site.baseurl}}/css/modules.css' rel='stylesheet'>
  <link href='{{site.baseurl}}/css/main.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Source+Sans+Pro:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/yhg4riw.css">
  <link rel="stylesheet" href="https://use.typekit.net/yhg4riw.css">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>
<body>
  <header>
  <div class="island grid grid-middle wrapper pad-t pad-b">
    <div class="unit xs-1-2 s-1-2 m-1-4 l-1-4">
      <a class="logo" href="{{site.baseurl}}/index">Mélany Pelletier-Vaillant</a>
    </div>

    <div class="unit xs-1-2 s-1-2 m-3-4 l-3-4">
      <nav>
        <ul class="list-group-inline push-0 text-right">
          <li class="push-r milli"><a href="{{site.baseurl}}/project-big-life">Work</a></li>
          <li class="milli"><a href="{{site.baseurl}}/play">Play</a></li>
        </ul>
      </nav>
    </div>
  </div>
  </header>
  {{content}}
  <footer class="" id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" class="text-center pad-t">
    <div class="social-media-links pad-t pad-b text-center">
      <ul class="list-group-inline push-0">
        <li><a class="social-media-link gutter-1-2 milli" href="https://www.dribbble.com/melanypelletier">Dribbble</a></li>
        <li><a class="social-media-link gutter-1-2 milli" href="https://www.instagram.com/melany.pv">Instagram</a></li>
        <li><a class="social-media-link gutter-1-2 milli" href="https://www.behance.net/melanypv">Behance</a></li>
      </ul>
    </div>
    <div class="footer-copyright text-center pad-t-1-2 pad-b-1-2">
      <small class="push-0 copyright micro"><span itemprop="name">Website coded by yours truly. All work is © Melany Pelletier-Vaillant</small>
    </div>
  </footer>

</body>
</html>
