  {{content}}
<footer itemscope itemtype="https://schema.org/Person" class="text-center pad-t">
  <div class="social-media-links">
    <ul class="list-group-inline push-0 pad-b">
      <li><a class="social-media-link gutter-1-2 milli" href="#">Dribbble</a></li>
      <li><a class="social-media-link gutter-1-2 milli" href="#">Instagram</a></li>
      <li><a class="social-media-link gutter-1-2 milli" href="#">Github</a></li>
    </ul>
  </div>
  <div class="footer-copyright pad-t pad-b">
    <small itemprop="copyrightHolder" class="push-0 copyright">c Melany Pelletier-Vaillant</small>
  </div>
</footer>
